<p id="notice">
	<%= notice %>
</p>
<h1><%=t('.welcomeback')%></h1>
<div class = "depot_form">
	<%= form_tag do %>
	<fieldset>
		<legend>
			<%=t('.login')%>
		</legend>
		<table>
			<tr>
				<td>
				<label for ="name">
					<%=t('.username')%>
				</label>
				</td>
				<td><%= text_field_tag :name, params[:name] %></td>
			</tr>
			<tr>
				<td>
				<label for ="password">
					<%=t('.pwd')%>
				</label>
				</td>
				<td><%= password_field_tag :password, params[:password] %></td>
			</tr>
			<tr>
				<td>

				</td>
				<td><%= submit_tag t('.log'), :class=>"button"%></td>
			</tr>
		</table>

	</fieldset>
	<%end%>
</div>
