<h1>Listing shops</h1>

<div class="orders_table">
<table>
  <tr>
    <th>Name</th>
    <th>Show</th>
    <th>State</th>
    <th>Operation</th>
  </tr>

<% @shops.each do |shop| %>
  <tr>
    <td><%= shop.name %></td>
    <td><%= link_to 'Show', :id => shop.id, :controller => "shops", :action => "show_to_buyers" %></td>
    
    <td><%=shop.state%></td>
    
    <%
    operation = ""
    	if shop.state == "open"
    		operation = "close"
    	else 
    	    operation = "open"
    	end
    %>
    <td><%= link_to operation, :id => shop.id, :controller => "shops", :action => "change_state"%></td>
  </tr>
<% end %>
</table>
</div>
<br />
<p><%= will_paginate @shops%></p>