<h1><%=t('.newshop')%></h1>
<%if flash[:notice]%>
<p id="notice"><%= flash[:notice] %></p>
<%end%>
<div class = "depot_form">
	<fieldset>
		<legend>
			<%=t('.details')%>
		</legend>
		<%= render 'form' %>
		<%= link_to t('.back'), store_url %>
	</fieldset>
</div>