<% if notice %>
<p id="notice">
	<%= notice %>
</p>
<% end %>
<div class="show_details">
<div id="up">
	<div class="up_left">
	<h1>Shop management</h1>
	<%= image_tag(@shop.image_url, :class => 'list_image') %>	
	</div>
	<div class="up_right">
	<b>Name:</b>
	<%= @shop.name %>
	<br/>
	
	<b>Email:</b>
	<%= @shop.email %>
	<br/>

	<b>Telephone:</b>
	<%= @shop.telephone %>
	<br/>
	</div>
</div>	
	<div class="description">
	<b>Description:</b>
	<%= @shop.description %>
	<br/>

<%= link_to 'Edit', edit_shop_path(@shop) %>
	</div>
</div>