<div class="depot_form">
<% if notice %>
<p id="notice">
	<%= notice %>
</p>
<% end %>
<div id="shop_form">
	<fieldset>
		<legend>
			Shop management
		</legend>

	<%= image_tag(@shop.image_url, :class => 'list_image') %>
	<br/>	
	<div id="shop_goods">
	<b>Name:</b>
	<%= @shop.name %>
	<br/>
	
	<b>Email:</b>
	<%= @shop.email %>
	<br/>

	<b>Telephone:</b>
	<%= @shop.telephone %>
	<br/>

	<b>Description:</b>
	<%= @shop.description %>
	<br/>
	</div>

<%= link_to 'Edit', edit_shop_path(@shop) %>
	</fieldset>
	</div>
</div>
