<% if notice %>
<p id="notice">
	<%= notice %>
</p>
<% end %>
<h1>Shop management</h1>
<div class="show_details">
	<div id="up">
		<div class="up_left">
			<%= image_tag(@shop.image_url) %>
		</div>
		<div class="up_right">

			<b><%= t('.name')%>:</b>
			<%= @shop.name %>
			<br/>

			<b><%= t('.email')%>:</b>
			<%= @shop.email %>
			<br/>

			<b><%= t('.telephone')%>:</b>
			<%= @shop.telephone %>
			<br/>
		</div>
	</div>
	<div class="description">
		<b><%= t('.description')%>:</b>
		<%= @shop.description %>
		<br/>

		<%= link_to t('.edit'), edit_shop_path(@shop) %>
	</div>
</div>