
<h1>News</h1>

<p>
  <b><%= t('.title') %> </b>
  <%= @news.title %>
</p>

<p>
  <b><%= t('.abstraction') %></b>
  <%= @news.abstraction %>
</p>

<p>
  <b><%= t('.content') %></b>
  <%= raw @news.content %>
</p>




<%= link_to t('.back'), :controller => :news, :action => :index%>
