<div class="orders_table">
<h1><%= t('.orderlist')%></h1>

<table>
  <tr>
    <th><%= t('.name')%></th>
    <th><%= t('.email')%></th>
    <th><%= t('.paytype')%></th>
    <th><%= t('.state')%></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%= order.name %></td>
    <td><%= order.email %></td>
    <td><%= order.pay_type %></td>
    <td><%= order.state%></td>
    <td><%= link_to t('.show'), order %></td>
    <td><%= link_to t('.edit'), edit_order_path(order) %></td>
    <td><%= link_to t('.destroy'), order, :confirm => t('.areyousure'), :method => :delete %></td>
  </tr>
<% end %>
</table>
</div>
<br />

<p><%= will_paginate @orders%></p>
