
<h1><%= t('.list_type')%></h1>
<div class="orders_table">
<table>
  <tr>
    <th><%=t('.type_name')%></th>
    <th></th>
    <th></th>
  </tr>

<% @book_types.each do |book_type| %>
  <tr>
    <td><%= book_type.name %></td>
    <td><%= link_to t('.edit'), edit_book_type_path(book_type) %></td>
    <td><%= link_to t('.destroy'), book_type, :confirm => t('.are_you_sure'), :method => :delete %></td>
  </tr>
<% end %>
</table>
</div>
<br />

<%= link_to t('.new_type'), new_book_type_path %>
<p><%= will_paginate @book_types%></p>