

<div class="side_title">
	<%= image_tag("cart.png") %>&nbsp <%= t('.yourcart')%>
</div>
<%unless cart.line_items.empty?%>
<table>
	<tbody>
		<%= render(cart.line_items) %>

		<tr class="total_line">
			<td colspan="2">	<%= t('.total') %></td>
			<td class="total_cell">	<%= number_to_currency(cart.total_price)%></td>
		</tr>
	</tbody>
</table>

<%= button_to t('.emptycart'), cart,
:method =>
:delete,
:confirm => t('.areyousure'),
:remote => true %>

<%= button_to t('.checkout'), new_order_url,
:method => :get%>
<%else%>
&nbsp &nbsp you cart is empty..
<%end%>
