<h1>Listing history_items</h1>

<div class="orders_table">
<table>
  <tr>
    <th>Book</th>
    <th>Price</th>
    <th>Shop</th>
    <th>Email</th>
    <th>Telephone</th>
    <th></th>
  </tr>

<% @history_items.each do |history_item| %>
  <tr>
    <td><%= history_item.product_name %></td>
    <td><%= history_item.price %></td>
    <td><%= history_item.shop_name %></td>
    <td><%= history_item.shop_email %></td>
    <td><%= history_item.shop_telephone %></td>
    <td><%= link_to 'Destroy', history_item, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
</div>
<br />
