<h1><%= t('.listing_history_items')%></h1>

<div class="orders_table">
<table>
  <tr>
    <th><%=t('.book')%></th>
    <th><%=t('.price')%></th>
    <th><%=t('.shop')%></th>
    <th><%=t('.email')%></th>
    <th><%=t('.telephone')%></th>
    <th></th>
  </tr>

<% @history_items.each do |history_item| %>
  <tr>
    <td><%= history_item.product_name %></td>
    <td><%= history_item.price %></td>
    <td><%= history_item.shop_name %></td>
    <td><%= history_item.shop_email %></td>
    <td><%= history_item.shop_telephone %></td>
    <td><%= link_to t('.destroy'), history_item, :confirm => t('.are_you_sure'), :method => :delete %></td>
  </tr>
<% end %>
</table>
</div>
<br />
