<%= form_for @product, :html => {:multipart => true} do |f| %>
<% if @product.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>
String
	<ul>
		<% @product.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<div class="field">
	<%= f.label :title %>
	<br />
	<%= f.text_field :title , :size => 40 %>
</div>
<div class="field">
	<%= f.label :description %>
	<br />
	<%= f.text_area :description , :size => 40 %>
</div>
<div class="field">
	<%= f.label :image_url %><br />
    <%= f.file_field("uploaded_image")%>
</div>
<div class="field">
	<%= f.label :price %>
	<br />
	<%= f.text_field :price , :size => 40 %>
</div>
	<div class="field">
		<label for ="type_name">
			Typename:
		</label>
	<br />
	<%unless @product && @product.book_types%>
		<%= text_field_tag :type_name, params[:type_name], :size => 40 %>
	<%else%>
		<%
		type_string = ""
		@product.book_types.each do |type|
			type_string+="|"+type.name
		end
		%>
		<%= text_field_tag :type_name, params[:type_name],:value => type_string,:size => 40 %>
	<%end%>
</div>
<div class="actions">
	<%= f.submit %>
</div>

<% end %>
