<% if notice %>
<p id="notice">
	<%= notice %>
</p>
<%end%>

<h1><%= t('.product_introduction') %></h1>
<div class="show_details">
	<div id="up">
		<div class="up_left">
			<%= image_tag(@product.image_url) %>
			<br />
			<%= number_to_currency(@product.price) %>
		</div>
		
		<div class="up_right">
			<h3>	<%= @product.title %></h3>
			<tr class="product_line">
			<td><%= t('.shop')%>:<%= link_to @product.shop.name, :controller=>"shops", :action => "show_to_buyers", :id=>@product.shop %></td>
		    </tr>
		    <br/>
			<%= t('.type')%>:<%@product.book_types.each do |type|%>
			<%= type.name%><%end%>
			</td>
			<div id = "sales">
				<%= t('.sales')%>
				<%= @product.sales %>
			</div>

			<div id = "rating_sales" >
				<%= render(@product) %>
			</div>
			<%= t('.grade')%>
			<%= link_to image_tag("1.jpg"), {:controller=>"products", :action =>"rate_to_product", :id=>@product, :rate=>'1'}, { :remote=>true} %>
			<%= link_to image_tag("2.jpg"), {:controller=>"products", :action =>"rate_to_product", :id=>@product, :rate=>'2'}, { :remote=>true} %>
			<%= link_to image_tag("3.jpg"), {:controller=>"products", :action =>"rate_to_product", :id=>@product, :rate=>'3'}, { :remote=>true} %>
			<%= link_to image_tag("4.jpg"), {:controller=>"products", :action =>"rate_to_product", :id=>@product, :rate=>'4'}, { :remote=>true} %>
			<%= link_to image_tag("5.jpg"), {:controller=>"products", :action =>"rate_to_product", :id=>@product, :rate=>'5'}, { :remote=>true} %>
			<%= button_to t('.add'),line_items_path(:product_id => @product),:remote => true%><%= button_to t('.collect'),:controller=>:users, :action=>:add_collection, :id=>@product.id%>
		</div>

	</div>
	<div class="description">

		<b><%= t('.description')%>:</b>
		<%= sanitize @product.description %>
		<br/>
		<%= link_to t('.back'), store_url %>
	</div>

</div>

<h1><%= t('.comment') %></h1>
<div id="comment">
	<%@comments.each do |comment| %>
	<div class="show_floor">
		<%= @num_of_comments_before+@index_in_this_page%>
	</div>
	<div class="show_content">
		<%= comment.content%>
	</div>
	<div class="show_time">
		<%= comment.created_at%>
	</div>
	<% @index_in_this_page=@index_in_this_page+1%>
	<%end%>
	<p>
		<%= will_paginate @comments%>
	</p>
	<% form_tag ({:controller=>"products", :action =>"add_comment", :id=>@product.id}) do%>
	<%= text_area_tag (:content, nil, :cols => 50, :rows => 5)%>
	<br />
	<%= submit_tag t('.submit_comment')%>
	<%end%>
</div>