<% if notice %>
<p id="notice">
	<%= notice %>
</p>
<%end%>

<h1>	<%=t('.pnews')%></h1>
<div id="news">
	<%= image_tag("blue.jpg") %>
	<table>
		<tr >
			<th class="news_title"><%=t('.latestnews')%></th>
		</tr>
		<tr>
			<td><%=t('.welcome')%></td>
		</tr>
		<tr>
			<td><%=t('.openshop')%></td>
		</tr>
		<tr>
			<td><%=t('.bookset')%></td>
		</tr>
		<tr>
			<td><%=t('.authors')%></td>
		</tr>
		<tr>
			<td><%=t('.introduce')%></td>
		</tr>
		<tr>
			<td><%=t('.promise')%></td>
		</tr>
		<tr>
			<td><%=t('.hello')%></td>
		</tr>
	</table>
</div>
<div>
	<%= image_tag("ad.png", :class=>"ad") %>
</div>
<h1><%=t('.hot')%></h1>

<div id="recommendation">
	<% @recommend_products.each do |product| %>
	<div class="item">
		<div class="icon">
			<%= image_tag(product.image_url) %>
		</div>
		<%= link_to product.title.length>10?product.title[0,10]+"...":product.title, :controller=>"products", :action =>"show_to_buyers", :id=>product	 %>
		<br />
		<%= number_to_currency(product.price) %>
	</div>
	<%end%>
	<a href = "/show_products?order=recommend"><%= image_tag("list_right.png", :class=>"img_next") %></a>
</div>
<h1><%=t('.recommend')%></h1>
<div id="recommendation">
	<% @hot_products.each do |product| %>
	<div class="item">
		<div class="icon">
			<%= image_tag(product.image_url) %>
		</div>
		<%= link_to product.title.length>10?product.title[0,10]+"...": product.title, :controller=>"products", :action =>"show_to_buyers", :id=>product	 %>
		<br />
		<%= number_to_currency(product.price) %>
	</div>
	<%end%>
	<a href = "/show_products?order=hottest"><%= image_tag("list_right.png", :class=>"img_next") %></a>
</div>