<% if notice %>
<p id="notice">
	<%= notice %>
</p>
<%end%>

<h1>	<%=t('.pnews')%></h1>
<div id="news">
	<div id="holder">
        <ul id="placeholder">
                <li><a href="#"><img src="images/ads1.jpg" alt="*" /></a></li>
                <li><a href="#"><img src="images/ads2.jpg" alt="*" /></a></li>
                <li><a href="#"><img src="images/ads3.jpg" alt="*" /></a></li>
                <li><a href="#"><img src="images/ads4.jpg" alt="*" /></a></li>
        </ul>
        <h1><a href="#" id="title">这是第一个标题</a></h1>
        <div id="nav_bg"></div>
        <ul id="list">
            <li><a href="#" title="这是第一个标题"><img src="images/ads1.jpg" alt="*" /></a></li>
            <li><a href="#" title="这是第二个标题" ><img src="images/ads2.jpg" alt="*" /></a></li>
            <li><a href="#" title="这是第三个标题"><img src="images/ads3.jpg" alt="*" /></a></li>
            <li><a href="#" title="这是第四个标题"><img src="images/ads4.jpg" alt="*" /></a></li>
        </ul>
    </div>
	<table>
		<tr >
			<th class="news_title"><%=t('.latestnews')%></th>
		</tr>
		<tr>
			<td><%=t('.welcome')%></td>
		</tr>
		<tr>
			<td><%=t('.openshop')%></td>
		</tr>
		<tr>
			<td><%=t('.bookset')%></td>
		</tr>
		<tr>
			<td><%=t('.authors')%></td>
		</tr>
		<tr>
			<td><%=t('.introduce')%></td>
		</tr>
		<tr>
			<td><%=t('.promise')%></td>
		</tr>
		<tr>
			<td><%=t('.hello')%></td>
		</tr>
	</table>
</div>
<div>
	<%= image_tag("ad.png", :class=>"ad") %>
</div>
<div class="recommendation">
<h1><%=t('.hot')%><span class="more"><a href = "/show_products?order=recommend"><%=t('.more')%>></a></span></h1>
        <%= image_tag("list_left.png", :class=>"prev") %>
        <div id="content_list_hot">
        	<div id="content_list_items_hot">
        	<ul>
            	<% @recommend_products.each do |product| %>
            	<li class="item">
            		<div class="icon">
						<%= image_tag(product.image_url) %>
					</div>
						<%= link_to product.title.length>10?product.title[0,10]+"...":product.title, :controller=>"products", :action =>"show_to_buyers", :id=>product	 %>
						<br />
						<%= number_to_currency(product.price) %>
				</li>
				<%end%>
			</ul>
			</div>
     	</div><%= image_tag("list_right.png", :class=>"next") %>
</div>

<div class="recommendation">
<h1><%=t('.recommend')%><span class="more"><a href = "/show_products?order=hottest"><%=t('.more')%>>></a></span></h1>
        <%= image_tag("list_left.png", :class=>"prev") %>
        <div id="content_list_recommend">
        	<div id="content_list_items_recommend">
        	<ul>
            	<% @hot_products.each do |product| %>
            	<li class="item">
            		<div class="icon">
						<%= image_tag(product.image_url) %>
					</div>
						<%= link_to product.title.length>10?product.title[0,10]+"...":product.title, :controller=>"products", :action =>"show_to_buyers", :id=>product	 %>
						<br />
						<%= number_to_currency(product.price) %>
				</li>
				<%end%>
			</ul>
			</div>
     	</div><%= image_tag("list_right.png", :class=>"next") %>
</div>