<% if notice %>
<p id="notice">
	<%= notice %>
</p>
<%end%>

<h1>	Pragmatic News</h1>
<div id="news">
	<%= image_tag("blue.jpg") %>
	<table>
		<tr >
			<th class="news_title">Lastest News</th>
		</tr>
		<tr>
			<td>Welcome</td>
		</tr>
		<tr>
			<td>GO open your new shop</td>
		</tr>
		<tr>
			<td>millions of books are set</td>
		</tr>
		<tr>
			<td>famous authors recommend us</td>
		</tr>
		<tr>
			<td>Introduce Bookshelf</td>
		</tr>
		<tr>
			<td>We Promise!</td>
		</tr>
		<tr>
			<td>Hello Guys!</td>
		</tr>
	</table>
</div>
<div>
	<%= image_tag("ad.png", :class=>"ad") %>
</div>
<h1>Pragmatic Hottest</h1>

<div id="recommendation">
	<% @recommend_products.each do |product| %>
	<div class="item">
		<div class="icon">
			<%= image_tag(product.image_url) %>
		</div>
		<%= link_to product.title.length>10?product.title[0,10]+"...":product.title, :controller=>"products", :action =>"show_to_buyers", :id=>product	 %>
		<br />
		<%= number_to_currency(product.price) %>
	</div>
	<%end%>
	<a href = "/show_products?order=recommend"><%= image_tag("list_right.png", :class=>"img_next") %></a>
</div>
<h1>Pragmatic Recommendations</h1>
<div id="recommendation">
	<% @hot_products.each do |product| %>
	<div class="item">
		<div class="icon">
			<%= image_tag(product.image_url) %>
		</div>
		<%= link_to product.title.length>10?product.title[0,10]+"...": product.title, :controller=>"products", :action =>"show_to_buyers", :id=>product	 %>
		<br />
		<%= number_to_currency(product.price) %>
	</div>
	<%end%>
	<a href = "/show_products?order=hottest"><%= image_tag("list_right.png", :class=>"img_next") %></a>
</div>