<!-- START:head -->
<!DOCTYPE html>
<html>
	<head>
		<title>Pragprog Books Online Store</title>

		<!-- START_HIGHLIGHT -->
		<%= stylesheet_link_tag "scaffold" %>
		<%= stylesheet_link_tag "depot", :media => "all" %><!-- <label id ="code.sit"/> -->
		<!-- END_HIGHLIGHT -->
		<%= javascript_include_tag :all %>
		<%= javascript_include_tag :ckeditor %>   

		<%= csrf_meta_tag %><!-- <label id="code.csrf"/> -->
	</head>
	<!-- END:head -->

	<body id="store">

		<%= form_tag '', :method => 'GET' do %>
		<%= select_tag 'locale', options_for_select(LANGUAGES, I18n.locale),
		:onchange => 'this.form.submit()' %>
		<% end %>

		<div id="store_main">
			<div id="banner">
				<%= image_tag("logo.png") %>
				<%= @page_title || t('.title')%><!-- <label id="code.depot.e.title"/> -->
			</div>
			<div id="search_bar">
				<%= form_for :search,:url=>{:controller => "store",:action=>"show_products"},:html=>{:method=>"get",:id=>"search_form",:onsubmit =>"return false"} do%>
				<%= image_tag("search.jpg") %><div id="search">
					<%= text_field_tag :name,params[:name],:autocomplete=>"off",:class=>"search_field",:onkeydown =>"keypress(event)"%><%= select nil, :type,
    				BookType.GetTypeNames,
    				:prompt => t('.categories')
     				%><%= submit_tag t('.search'),:class => "search_button",:onclick=>"form_submit()" %>
					<div id="searchAjax">
					</div>
				</div>
				<%= observe_field :name,:frequency=>0.5,:update=>'searchAjax',:url=>{:controller => "store",:action=>"ajax_show_products"},:with => "'name='+encodeURIComponent(value)"%>
				<%end%>
			</div>
			<div id="columns">
				<div id="side">

					<div class = "side_module">
						<div id="cart">
							<% if @cart %>
							<%= render @cart %>
							<% end %>
						</div>
					</div>
					<div class = "side_module">
						<div class="side_title">
							<%= image_tag("bullet.gif") %>&nbsp<%= t('.nav')%>
						</div>
						<div class="tip">
							<%= image_tag("home.png") %>
							<a href="/">&nbsp<%= t('.home')%></a>
						</div>
						<div class="tip">
							<%= image_tag("question.png") %>
							<a href="http://www..../frq">&nbsp<%= t('.question')%></a>
						</div>
						<div class="tip">
							<%= image_tag("news.png") %>
							<a href="http://www..../news">&nbsp<%= t('.news')%></a>
						</div>
						<div class="tip">
							<%= image_tag("contact.png") %>
							<a href="http://www..../contact">&nbsp<%= t('.contact')%></a>
						</div>
					</div>
					<% if session[:user_id] && (User.find(session[:user_id]).role == "host")%>
					<% user = User.find(session[:user_id]) %>
					<div class = "side_module">
						<div class="side_title">
							<%= image_tag("account.png") %>&nbsp <%= t('.account')%>
						</div>
						<div class="tip">
							<%= image_tag("shop.png") %>
							<%= link_to t('.myshop'), user.shop %>
						</div>
						<div class="tip">
							<%= image_tag("book.png") %>
							<%= link_to t('.myproducts'), products_url %>
						</div>
						<div class="tip">
							<%= image_tag("order.png") %>
							<%= link_to t('.myorders'), orders_path %>
						</div>
						<div class="tip">
							<%= image_tag("colleague.png") %>
							<%= link_to t('.mycolleague'), users_path %>
						</div>

						<%= button_to t('.logout'), logout_path, :method => :delete %>
					</div>
					<% elsif session[:user_id] && (User.find(session[:user_id]).role == "administrator")%>
					<% user = User.find(session[:user_id]) %>
					<div class = "side_module">
						<div class="side_title">
							<%= image_tag("account.png") %>&nbsp <%= t('.account')%>
						</div>
						<div class="tip">
							<%= image_tag("shop.png") %>
							<%= link_to t('.shops'), shops_url %>
						</div>
						<div class="tip">
							<%= image_tag("book.png") %>
							<%= link_to t('.advertising'), advertisements_url %>
						</div>
						<div class="tip">
							<%= image_tag("order.png") %>
							<%= link_to t('.news'), :controller => "news", :action => "index" %>
						</div>
						<div class="tip">
							<%= image_tag("colleague.png") %>
							<%= link_to t('.administrators'), users_path %>
						</div>
						<div class="tip">
							<%= image_tag("news.png") %>
							<%= link_to t('.book_types'), book_types_path %>
						</div>
						<%= button_to t('.logout'), logout_path, :method => :delete %>
					</div>
					<%else%>
					<div class="side_title">
						<%= image_tag("account.png") %>&nbsp<%= t('.account')%>
					</div>
					<div class="tip">
						<%= image_tag("colleague.png") %>
						<%= link_to t('.signin'), login_url %>
					</div>
					<div class="tip">
						<%= image_tag("colleague.png") %>
						<%= link_to t('.newshop'), new_shop_url %>
					</div>
					<% end %>
				</div>
				<div id="main">
					<div class="home_page_left">
						<%= yield %><!-- <label id="code.depot.e.include"/> -->
					</div>
					<div class="home_page_right">
						<div class="right_title">
							<%= t('.categorises') %>
						</div>

						<div id="categorises">
							<%BookType.all.each do |type|%>
							<h2><%= link_to type.name, :controller => "store", :action => "show_products", :type=>type.name%></h2>
							<%end%>
						</div>
						<div class="right_title">
							<%= t('.guide') %>
						</div>

						<div id="categorises">
							</ br>
							<h2>
							<a href="/htmls/buyer.html"><%= t('.customer_guide') %> </a>
							</h2>
							<h2>
							<a href="/htmls/saler.html"><%= t('.salespeople_guide') %></a>
							</h2>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div id="foot">
			web-112
		</div>
	</body>
</html>
